.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgba(purple, 0.7) 2px;
    width: 200px;
    height: 135px;
    min-height: 135px;

    img {
        width: 49%;
    }
  }
}

